h1 {
	text-align: center;
	text-decoration: underline;
}

h2 {
	text-align: center;
}

nav.btn-group {
	margin-left: 2.5%;
}

div#content {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  gap: 0px 0px;
}


/*
	==============
	= Personnage =
	==============
*/

div#personnage {
	margin-top: 15%;
}

div#personnage img {
	display: block;
	margin: 0 auto;
	width: auto;
	height: 80%;
}

/*
	=========
	= Texte =
	=========
*/

div#bubble {
	height: 70%;
	width: 80%;
	background: lightblue;
	display: block;
	border-radius: 20px;
	margin-top: 20%;
	text-align: center;
	padding: 2.5%;
	max-height: 50%;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*
	===============
	= Information =
	===============
*/

div#information {
	margin-right: 20%;
	margin-top: 15%;
}

div#information > div {
	border: solid;
	border-radius: 5%;
	padding: 5%;
}

div#information h4 {
	text-align: center;
	font-weight: bold;
}

.logo {
	width: 40px;
	height: 40px;
}

.logo:hover {
	opacity: 0.8;
}

#logo_localisation {
	width: 20px;
	height: 20px;
}

.info-span {
	text-decoration: underline;
	font-weight: bold;
	margin-right: 5%;
}

div#services {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

#localisation {
	text-align: center;
}

#localisation:hover {
	opacity: 0.8;
	cursor: pointer;
}

#photo {
	padding: 5%;
	width: 100%;
	height: auto;
}